<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)"> <!-- 추가된 부분 -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .hader {
      width: 100vh;
      height: 20vh;
    }
    .content {
      width: 100vw;
      height: 70vh;
      background-color: lightgray;
    }
    .footer {
      width: 100vw;
      height: 10vh;
      background-color: green;
    }
  </style>

</head>
<body>

  <div class="header">
    <h1>HEADER</h1>
  </div>
  <div class="content">

    <th:block th:repalce="${content}">
    </th:block>

    <h1>CONTENT</h1>
  </div>
  <div class="footer">
    <h1>FOOTER</h1>
  </div>
  <div></div>
  <div></div>


</body>
</th:block>
</html>